{% extends "base.html" %}
{% block profile %}
{%if username.is_authenticated%}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="">
        <div class="media-body">
            <h1 class="account-heading">{{user.username}}</h1>
            <p class="text-secondry">{{user.email}}</p>

        </div>
    </div>
    <form method="post" class="CP" enctype="multipart/form-data">
        <h1 class="text-center">Profile Info</h1>
        {% csrf_token %}
        <table class="form-group col-lg-12 col-xs-12">
          {{ u_form.as_table  }}
          {{ p_form.as_table }}
          {{user_form.as_table}}
        </table>
        <br><br>
        <button type="submit"  class="b1 btn btn-primary">EDIT</button>
        
    </form>
</div>


{%endif%}
{% endblock profile %}
