{% extends "base.html" %}
{% block profile %}

<style>
    li{
        height: 35px;
        padding: 10px;
        padding-left: 0px;
        list-style: none;
    }
    a{
        color:#888;
        text-align: center;
    }
    .info_data_projects a:hover li{
        background-color: #888;
        transition: 1s;
        color: #fff;
        border-radius:20px; 
        text-decoration: none;
    }
    span{
        font-size: 17px;
        color: #222;
    }
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-xs-12" style="height: 700px; font-size: 20px;font-family: fantasy;padding: 26px;  border-right: 1px solid #ccc;box-shadow: -9px 1px 17px -9px #888 inset;">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar col-lg-12">
                    <img class="col-lg-9 col-xs-12" style="margin-bottom:20px; border-radius: 50%;border: 15px solid #fcf2e4;width: 160px;height: 160px;" alt="" src="{{user.profile.profile_img.url}}">
                    <a  class="col-lg-3 col-xs-12" style="    text-align: center; margin: auto;margin: 73px 0 0 9px;font-size: 30px;"  target="_blank" href="https://scripteden.com/">{{user.first_name}}{{user.last_name}}</a>
                </div>
                <div class="info">
                    <div class="title">
                        
                        <div class="form-group"></div>
                    </div>
                    <div class="desc">
                        <div class="form-group">Username : <span>{{user.username}}</span></div>
                        <div class="form-group"></div>
                    </div>
                    <div class="desc">
                        <div class="form-group">Email : <span>{{user.email}}</span></div>
                        <div class="form-group"></div>
                    </div>
                    <div class="desc">
                        <div class="form-group">Phone : <span>{{user.profile.phone}}</span></div>
                        <div class="form-group"></div>
                    </div>
                    {% if user.profile.country %}
                    <div class="desc">
                        <div class="form-group">country : <span>{{user.profile.country}}</span></div>
                        <div class="form-group"></div>
                    </div>
                    {% endif %}
                    {% if user.profile.facebook %}
                    <div class="desc">
                        <div class="form-group">Facebook Account  :<a href="{{user.profile.facebook}}">{{user.profile.facebook}}</a></div>
                        <div class="form-group"></div>
                    </div>
                    {% endif %}
                   
                 </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>

        </div>
	</div>
        <div class="col-lg-6 col-xs-12">
            <a class="btn btn-success  btn-sm" style="border-radius: 50%" href="{% url 'home_page'%}">
                <i class="fa fa-plus-circle" style="font-size: 30px;"></i> 
            </a>Donate
            <hr>
            <a href="{%url 'create_project' %}"><div class="btn btn-success">Create Project</div> </a>
            <hr>
            <div class="info_data_projects">
                <div class="title"><h3>Projects</h3></div>
                <ul style="    overflow-y: scroll;height: 150px;border: 1px solid #ddd;padding-left: 26px;padding-top: 5px;">
                    {%for i in projects%}
                    <a href="{% url 'info' i.id %}"><li>{{i}}<div class="rate text-right" style="display: inline-block;"> &nbsp; {{i.donation_percent}} %</div>
                        </li></a>
                    {%endfor%}
                    

                </ul>
            </div>
            
        </div>

    </div>
    
</div>



{% endblock profile %}
