{% extends "base.html" %}
{% block createProjectForm %}
<style>
  .navbar-inverse{
    border-radius: 0px;
  }
  .CP{
    padding: 48px;
  }
  table{
    border: 1px solid #888;
    margin: auto;
    /* background-color: #222; */
    border-radius: 15px;
  }
  th{
    padding: 21px;
    padding-top: 50px;

  }
  input,textarea ,select{
    border-radius: 4px;
    border: 1px solid #999;
    height: 34px;
    width: 67%;
    font-size: 20px;
    padding-top: 2px;
    padding-left:20px;
  }
  textarea{
    height: 200px;
  }
  select{
    background-color: green;
    color: #fff;
    padding: 5px;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    font-family: fantasy;
    font-weight: lighter;
  }
  .submit{
    margin-top: 35px;
  }
  #id_form-0-project_img,#id_form-1-project_img{
    border: none;
  }
  .tags{
    text-align: center;
    padding-top: 20px;
  }
  .page-footer .container-fluid{
    background-color: #212121;
    color: #fff;
  }
  h1{
    font-family: initial;
  }
</style>
<div class="container">
    <form method="post" class="CP" action="" enctype="multipart/form-data">
      <h1 class="text-center">Create Your Project Now </h1>
      {% csrf_token %}
      <table class="form-group col-lg-12 col-xs-12">
        {{ form.as_table }}
        {{formset.as_table}}
      </table>

      <textarea class="tags col-xs-12" name="tag" cols="30" rows="5" placeholder="Enter Your tags in the following pattern tag1,tag2,tag3"></textarea><br>
      <br><br>
      <a href=""><input class=" submit col-xs-12 btn btn-success" type="submit" value="submit"></a>
  </form>
</div>

{% endblock createProjectForm %}
