{% extends "base.html" %}
{% block project_info %}
{%load static%}

<link rel="stylesheet" type="text/css" media="all" href="{% static 'projects/css/project_info.css'%}">

<section class="container">
    <div class="project-description col-lg-8 col-xs-12">
        
        {%for i in project.first_image%}
        <img  style="    border-radius: 20px;" class="imgProject" src="{{i.project_img.url}}" />
        {%endfor%}
        {%for i in pic %}
        <img class="parts " src="{{i.project_img.url}}" />
        {%endfor%}
        <h1 class="title">{{project.title}}</h1>
        <section class="story-project">
            <ul class=" nav nav-tabs" role="tablist">
                <li role="presentation" class="pin_log_form" class="active">
                    <a href="#story" aria-controls="story" role="tab" data-toggle="tab">Story</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="log_form tab-pane active" id="story">
                    <div class="content">
                        <p class="leap">{{project.body}}</p>
                    </div>
                </div>
            </div>
            <div class="reg_form tab-pane " id="comment" style="margin-top: 51px;">
                <form method="post" action="">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="comment">

                </form>
                <ul class="users_comments col-lg-12">
                    <h4> Comments </h4>
                    {% for i in comments %}
                    <i class="fa fa-user-circle col-xs-1"></i>
                    <span class="user_name col-xs-9">{{i.user}} </span><br>
                    <span class="user_comment col-xs-12"> {{i.comment}} <a href="{% url 'reportc' i.id%}" target="_blank">
                            <div class="Creport btn btn-danger">Report</div>
                        </a></span>

                    <br>
                    <hr>
                    {%endfor%}
                </ul>
                
            </div>
            <a href="{% url 'reportp' project.id%}" target="_blank">
                <div class="report btn btn-success" style="width: 100%;">Report Project </div>
            </a>
        </section>
    </div>
    <div class="right-side-project col-lg-4 col-xs-12">
        <div class="layer-white campaign-state show-for-medium mb20 js-campaign-state-large" data-identifier="trending"
            style="opacity: 1;">
            <div class="cs-text-contain">
                <div class="fixed-width-column">
                    <i class="precent fa fa-line-chart" aria-hidden="true"></i>
                    This campaign is trending!
                </div>
            </div>
        </div>
        <div class="target_mony">
            <p>{{project.target_money}}$</p>
        </div>
        <div class="target_mony">
                <p> donated {{project.donation_percent}} % of target</p>

            </div>
        <div class="rate">
            <p>Rate : <span style="color:green">{{rate}}</span>/5 from our users</p>
            <!--{%for i in tags%}-->
            <!--{{i}}-->
            <!--{%endfor%}-->
        </div>
        <div class="Date">
            <p>Start from {{project.start_date}} to {{project.end_date}}</p>
        </div>
        <div class="user-owner">
            created in {{project.start_date}}
            <hr>
            <i class="fa fa-user-circle"></i>{{project.owner}}
        </div>
        <a href="{% url 'donate' project.id %} " target="_blank"><button class="form-group btn btn-defult donate">Donate</button></a>
        {%for donate in project.project_donaters%}
        <div class="user-owner">
            <h3>Donators </h3>
            <hr>
            <i class="fa fa-user-circle"></i><span style="text-transform:capitalize">{{donate.user}}</span>
        </div>
         <br />
        {%endfor%}
        {%if project.owner == user.profile and project.donation_check %}
        <a href="{% url 'delete' project.id%}"><div class="btn btn-danger"> Delete </div></a>
        {%endif%}



    </div>
</section>




{% endblock %}