{% extends "base.html" %}
{% block report %}
{%load static%}
<style>
    .paragraph{
        text-align: center;
        margin-top: 16px;
        font-size: 34px;
        text-transform: capitalize;
        color: green;
        font-family: initial
    }
    .container{
        padding: 0 60px;
    }
    textarea{
        width: 100%;
        border: 2px solid #eee;
        box-shadow: 1px 3px 9px 1px #888;
    }
    form{
        padding: 60px;
    }
</style>
<div class="container">
    <div class="row col-xs-12">
        <p class="paragraph"> we are very sory that you have this bad experiment
            please tell us what bothers you about that comment!
        </p>
        <form method="post" action="">
            {% csrf_token %}
            <table>
            {{ form.as_p }}
            </table>
        
        <button type="submit" class="btn btn-success" value="Report">Report</button>
        </form>
    </div>
    
</div>
 
{% endblock report %}