{% extends "base.html" %}

{%load static%}
{% block sport %}
<style>
    .thumbnail img{
        width: 239px;
        height: 183px;
        border-radius: 26px;
 
    }
    .card-img{
        width: 239px;
        height: 183px;
        border-radius: 26px;
        margin-top: 15px;
        margin-left: 20px;
        border: 1px solid #eee;
        background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-128.png) no-repeat center ;

    }
    ul{
        margin-left: -50px;
        list-style: none;
    }
</style>
<div class="container">
        <div class="row">
            <div class="projects-part" id="ref_projects">
                <div class="row">
                    <div class="col-lg-12 col-sm-6 col-md-3">
                        <br>
                        <br>
                        <hr>
                        <br>
                        <ul id="myUL">
                            {%for project in key_catagory%}
                            <li>
                                <div class="thumbnail col-lg-3  col-xs-12 " style="margin: 10px;">
                                    <div class="card-img">
                                        {%for i in project.first_image%}
                                        <img  src="{{i.project_img.url}}" alt="..." >
                                        {%endfor%}
                                    </div>
                                    <div class="caption" id="filter">
                                        <a>
                                            <h3>{{project}}</h3>
                                        </a>
                                        <p>You Can read more about this project.</p>
                                        <p> rated as {{project.project_rate}}</p>
    
                                        <p>
                                            <a href="{% url 'info' project.id%}" class="btn btn-warning" role="button">More..</a>
                                            <a href="" class="btn btn-default" role="button">Rate</a>
                                            <!-- <a href="{% url 'delete' project.id %}"class="btn btn-danger" role="button"> Delete</a> -->
                                        </p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock sport %}