{% extends "base.html" %}
{% block createProject %}
<style>
    h1{
        padding: 100px;
    }
    .create-project{
        background-color: rgb(247, 178, 49);
        border-radius: 5px;
        color: #fff;
        margin: auto;
        width: 50%;
    }
    .page-footer .container-fluid{
        background-color: #101010;
        color: #fff;
    }
    .content ,.show-pj{
        margin: auto;
        text-align: -webkit-center;
        text-align: center
    }
    .show-pj{
        padding: 20px;
    }
</style>
<h1 class="text-center">USERS  <i class="fa fa-users"></i></h1>
<hr>
{% for member in members %}
<div class="container">
    <div class="row content">
        <h3>{{member}} <a class="btn btn-success" href="{% url 'create_project' member.id %}">create project </a> </h3>
    </div>
</div>

{% endfor %}
<div class="container show-pj">
    <a class="form-group btn btn-default create-project" href="{% url 'Home' %}">Show Projects</a>
</div>
{% endblock createProject %}
